@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,100,400,400italic,700,900);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #fecc04 !default;
$brand-dark-blue: #2c2d3d !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: Lato;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Lato;
}

a {
  @include transition(all ease 300ms);

  &:hover {
    color: darken($brand-primary,10%);
    text-decoration: none;
  }
}

img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}

img {
  opacity: 0;
  @include transition(all 300ms ease);
}

img.doneLoading {
  opacity: 1;
}

nav li:hover .dropdown-menu {
  display: block;
}

.btn,
a {
  cursor: pointer;
  @include transition(all ease 300ms);
}
//bootstrap forms

.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
  border-radius: 0;
  @include box-shadow(none);
}

.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
//bootstrap forms

.full-image {
  width: 100%;
}

.bg-grey {
  background: #ebebeb;
}

.logo-adv {
  padding: 8px 15px;

  a {
    display: block;

    .logo {
      width: 165px;
      margin: 0 auto;
    }
  }
}

.hamburger {
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
  z-index: 10;
  cursor: pointer;

  .icon-bar {
    width: 25px;
    height: 3px;
    margin: 3px 0;
    background-color: #fff;
    @include transition(all 400ms ease-in-out);
  }

  .top-bar {
    @include transform(rotate(45deg));
    position: absolute;
    top: 7px !important;
    @include transition(all 400ms ease-in-out);
  }

  .mid-bar {
    opacity: 0;
    position: absolute;
    @include transition(all 400ms ease-in-out);
  }

  .down-bar {
    @include transform(rotate(-45deg));
    top: 7px !important;
    position: absolute;
    @include transition(all 400ms ease-in-out);
  }
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  padding: 10px 0;

  .navbar-toggle {
    display: block;
    border-color: transparent;
    z-index: 111;
    position: relative;

    &:hover .icon-bar {
      background-color: lighten($brand-primary,10%);
    }

    .icon-bar {
      background-color: $brand-primary;
      border-radius: 5px;
    }

    &:focus,
    &:hover {
      background-color: transparent;
    }
  }
}

.sidemenu {
  ul {
    li {
      a {
        padding: 2px 28px;
        letter-spacing: 1px;
        display: block;
        font-size: 15px;
      }
    }
  }
}

.menu-common {
  position: fixed;
  width: 320px;
  z-index: 99;
  left: 0;
  bottom: 0;
  top: 130px;
}

.menu-out {
  @include transform(translateX(-300px));
  @include transition(all 300ms linear);
}

.menu-in {
  @include transform(translateX(0));
  @include transition(all 300ms linear);
}

.media-img ul li {
  height: 50px;
}

.media-img ul li {
  height: 50px;
  margin: 0 10px;

  img {
    max-height: 100%;
  }
}

.image-holder {
  height: 100%;
  text-align: center;
  position: relative;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bg-default-text,
.default-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #fff;
}

.content-wrap {
  .header_sub_heading {
    display: inline-block;
    font-weight: 300;
    color: #fff;
  }

  .highlite_text {
    color: $brand-primary;
  }

  h1 {
    font-size: 56px;
    color: #fff;
    margin-bottom: 10px;
  }

  .search {
    width: 686px;
    margin-top: 37px;
    margin-bottom: 3px;
    display: inline-block;
    height: 60px;

    input {
      height: 50px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      position: relative;
      width: 89%;
      float: left;
      outline: 0;
    }

    .search_btn {
      height: 50px;
      width: 11%;
      float: left;

      i {
        font-size: 20px;
      }
    }
  }

  .popular_courses {
    a {
      color: #fff;
      padding: 0 8px;
      line-height: 100%;
      font-weight: 300;
      font-size: 12px;
      @include transition(all ease 300ms);

      &:hover {
        text-decoration: none;
        color: darken(#fff,20%);
      }
    }

    a + a {
      border-left: 1px solid #fff;
    }
  }
}

.content-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%,-50%));
  width: 80%;
  text-align: center;
}

.color-black {
  background: #212121;
  color: #fff;
}

.pd20 {
  padding: 20px;
}

.offer-section {
  .close {
    color: #fff;
    opacity: 1;
    font-weight: 100;
    margin-top: 9px;
    font-size: 14px;
    @include transition(all ease 300ms);
    cursor: pointer;

    &:hover {
      color: darken(#fff, 20%);
    }
  }

  p {
    margin: 0;
    font-size: 12px;
    color: #b0b0b0;
  }

  .take-charge {
    cursor: pointer;

    span {
      color: #337ab7;
    }
  }
}

.btn-small {
  background: transparent;
  border: 1px solid #fff;
  padding: 3px 6px;
  font-size: 12px;
  @include transition(all ease 300ms);

  &:hover {
    color: darken(#fff,20%);
    border-color: darken(#fff,20%);
  }
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: thin dotted;
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: -0px;
  color: #fff;
}

.nav-onhead {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.features {
  padding: 50px 0;

  h4 {
    margin: 0 0 50px;
    font-size: 28px;
    font-weight: 300;
  }

  .features-made {
    background: #fff;
    margin-bottom: 20px;
  }

  .description {
    padding: 20px;
    height: 150px;
    overflow: hidden;

    h5 {
      margin: 10px 0;
      font-size: 16px;
      max-height: 55px;
      overflow: hidden;
    }
  }
}

.master-program {
  padding: 50px 0;

  .head-title {
    h4 {
      font-size: 28px;
      font-weight: 300;
    }
  }

  .flexslider {
    margin-bottom: 30px;

    .flex-direction-nav {
      a.flex-prev:before {
        content: url("../img/back.png");
      }

      a.flex-next:before {
        content: url("../img/next.png");
      }

      a {
        opacity: 1;
        width: 50px;
        height: 50px;
      }

      .flex-next {
        right: -50px;
      }

      .flex-prev {
        left: -70px;
      }
    }

    &:hover .flex-direction-nav .flex-prev {
      left: -70px;
    }

    &:hover .flex-direction-nav .flex-next {
      right: -50px;
    }

    .flex-control-nav {
      display: none;
    }
  }

  .panel-body {
    border: 1px solid #ddd;
    padding: 0;

    .press-imgholder {
      height: 170px;
      margin-bottom: 10px;
      border-bottom: 1px solid #ddd;
      overflow: hidden;
      padding: 15px 0;

      img {
        height: 100%;
        margin: 0 auto;
        width: auto!important;
      }
    }

    .description {
      padding: 5px 20px;

      .course {
        .title {
          padding: 0 0 10px;
        }
      }
    }

    .division1 {
      padding: 10px 0;
    }
  }
}

.btn-all {
  .btn {
    padding: 8px 35px;
  }

  .btn-outline {
    background: #fff;
    color: $brand-primary;
    border: 1px solid $brand-primary;

    &.active.focus,
    &.active:focus,
    &.active:hover,
    &:active.focus,
    &:active:focus,
    &:active:hover,
    &:hover {
      color: #fff;
      border: 1px solid $brand-primary;
      background: $brand-primary;
      outline: 0 auto -webkit-focus-ring-color;
      outline-offset: -0px;
      @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, 0));
    }
  }
}

.careers {
  padding: 50px 0;

  .title {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  .testimonials {
    .description {
      padding: 15px;
      background: #fff;
      margin-bottom: 20px;

      p {
        margin-top: 5px;
      }
    }
  }

  .blog {
    ul {
      .list-blog {
        padding: 10px 0;
        height: 50px;
        overflow: hidden;
        border-bottom: 1px solid #ddd;

        a {
          color: #333333;
          @include transition(all ease 300ms);

          &:hover {
            color: darken(#333333,20%);
            text-decoration: none;
          }
        }
      }
    }
  }

  .img-holder-blog {
    height: 120px;
    overflow: hidden;
    margin-bottom: 15px;

    img {
      height: 100%;
      margin: 0 auto;
    }
  }

  .bod-right {
    border-right: 2px solid #828282;
  }
}

.subcription {
  background: #212121;
  padding: 20px;
  color: #fff;

  p {
    margin-top: 7px;
    text-align: center;
  }
}

.media {
  .title {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 20px;
  }
}

footer {
  background: #000;
  color: #ccc;
  padding: 20px;

  .bg-small-meta-text {
    color: #ccc;
    width: 100%;
    margin: 2px 0;
    text-align: left;

    i {
      padding: 0 5px;
    }
  }

  .bg-default-text-bold {
    font-size: 16px;
  }

  .foot-socials .rae-link a {
    color: #ccc;
    font-size: 14px;
    font-weight: 500;
  }

  .foot-socials li {
    display: inline-block;

    a {
      border-radius: 100%;
      display: inline-block;
      height: 30px;
      vertical-align: middle;
      width: 30px;
      color: #fff;
      background: #969696;
      @include transition(all ease 300ms);
      padding: 6px 0;
      text-align: center;
      margin: 7px 4px;

      &:hover {
        background: darken(#969696,20%);
      }
    }
  }

  ul.social_share {
    margin-top: 15px;
  }

  ul.content-col li a {
    color: #ccc;
    @include transition(all ease 300ms);

    &:hover {
      text-decoration: none;
      color: darken(#ccc, 20%);
    }
  }
}

.order-detail-summary {
  border-top: 1px solid $brand-dark-blue;

  table {
    margin-bottom: 0;
  }

  .billing-detail {
    border-bottom: 1px solid $brand-dark-blue;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 500;
  }

  .delivery {
    border-right: 1px solid $brand-dark-blue;
  }

  .order-address {
    border-top: 1px solid $brand-dark-blue;
    padding: 20px 0;
  }
}

.order-detail-heading {
  font-size: 18px;
}

.order-prd-detail {
  font-size: 14px;
  font-weight: 500;
  height: 100px;
  margin-top: 10px;
}

.order-imgholder {
  height: 100px;
  margin: 20px 0;

  img {
    max-height: 100%;
  }
}

.order-heading {
  margin-bottom: 30px;
}
// wishlist

.wishlist-product {
  padding: 20px;
  margin: 20px 0;
}

.wish-imgholder {
  height: 300px;

  img {
    max-height: 100%;
  }
}

.view-product {
  padding: 20px 0;
}
// .wishlisted-product .col-md-4:nth-child(3n-1) .wishlist-product {
//   border-left: 1px solid $brand-dark-pink;
//   border-right: 1px solid $brand-dark-pink;
// }

.wishlisted-product {
  padding: 20px 0;
}

.wishlist-prd-detail {
  margin: 40px 0 10px;

  h5 {
    min-height: 40px;
    padding: 0 10px;
    font-size: 16px;
  }

  span {
    font-size: 18px;
    font-weight: 500;
  }
}

.wishlist-heart {
  font-size: 18px;

  .fa-heart {
    color: $brand-danger;
  }
}

.no-border {
  border: none !important;
}

.mt70 {
  margin-top: 70px;
}

.heading-bar {
  padding: 20px 0;
  background-color: lighten($brand-primary,40%);
  font-family: "fine-style";

  h3 {
    margin: 0;
    display: inline-block;
    color: #2c2d3d;
    font-size: 20px;
    text-transform: uppercase;
  }
}

.delivery address {
  padding-right: 65px;
  margin: 0;
  font-size: 16px;
}

.block {
  display: block;
}

.mt10 {
  margin-top: 10px;
}

.btn-apply {
  .btn {
    color: #fff;

    &:hover {
      color: #fff;
      background: darken(#ddd,20%);
    }
  }
}

.edit-cart {
  font-size: 14px;
  font-weight: 700;
}

.pbt20 {
  padding: 20px 0;
}

.learndetail {
  font-size: 12px;
  padding: 0 10px;
}

.btn-full {
  width: 100%;
  margin: 0 auto 10px;
  padding: 10px 0;
  font-size: 14px;
}

.min-height {
  min-height: 500px;
}

.btn-google {
  color: white;
  background-color: #d34836;
  border-color: #d34836;

  &:hover {
    background: darken(#d34836,10%);
    border-color: darken(#d34836,10%);
    color: white;
  }
}

.mr10 {
  margin-right: 10px;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
  border-color: #3b5998;

  &:hover {
    background: darken(#3b5998,10%);
    border-color: darken(#3b5998,10%);
    color: white;
  }
}

.or.relate {
  margin: 10px 0 20px;
}

.popup {
  width: 90%;
  margin: 0 auto;
  background: #ddd;
  padding: 10px 0;
}

.pop-heading-bar h3 {
  margin: 10px 0;
}

.pointer {
  cursor: pointer;
}

.plr20 {
  padding: 0 20px;
}
/* Start writing sass here */
@import "fancybox-override";
