<section class="mt70">
    <div class="heading-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <h3 class="heading">Cart</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="order-detail">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="order-imgholder relate">
                                <img src="img/courses/2.png" alt="" class="get-center img-responsive">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="order-detail-heading">
                                <h4 class="m-clear mb5">Full-stack Digital market</h4>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="order-prd-detail">
                                        <p class="mb5 edit-cart">Traning Type</p>
                                        <p>Self Online learning
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="order-prd-detail text-center">
                                        <p class="mb5 edit-cart">
                                            Days</p>
                                        <p>
                                            <span class="">365 days</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="order-prd-detail text-center">
                                        <p class="mb5 edit-cart">
                                            Number Of Learners</p>
                                        <p>
                                            1
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="order-prd-detail text-center">
                                        <p class="mb5 edit-cart">Price
                                        </p>
                                        <p>Rs. 19,999.00</p>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="order-prd-detail text-center">
                                        <p class="mb5 edit-cart">Delete
                                        </p>
                                        <p class="pointer color-danger">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-detail-summary">
                        <div class="row">
                            <div class="col-md-offset-6 col-md-6">
                                <div class="billing-detail">

                                    <div class="btn-all text-center pd20 text-right">
                                        <button type="button" name="button" class="btn btn-outline btn-primary" ui-sref="home">
                                            Continue
                                        </button>
                                        <button type="button" name="button" class="btn btn-outline btn-primary" ui-sref="checkout">
                                            Checkout
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
