<section class="mt70 min-height">
    <div class="heading-bar text-center">
        <h3 class="heading heading-underline">my cart</h3>
        <span class="block text-medium">‘‘If You Can’t Stop Thinking About It Get It!’’</span>
    </div>
    <div class="cart">
        <div class="container">
            <div class="cart-list" ng-repeat="product in cart">
                <div class="row">
                    <div class="col-md-3">
                        <div class="cart-imgholder relate">
                            <img ng-src="{{product.img}}" alt="" class="get-center img-responsive">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="pull-right">
                            <a href="" class="text-medium dark-blue text-underline" ng-click="editCart=true">Edit</a>
                        </div>
                        <div class="product-cart-detail clearfix">
                            <h4 class="prd-name">{{product.name}}</h4>
                            <h5>by :
                                <span>{{product.desginername}}</span>
                            </h5>
                            <div class="product-all-detail" ng-hide="editCart">
                                <p>RENT : INR
                                    <span>{{product.rental}}/-</span>
                                </p>
                                <p class="mb5">
                                    <span class="edit-cart">Size</span>
                                    <span>{{product.size}}</span>
                                </p>
                                <p class="mb5">
                                    <span class="edit-cart">Rental</span>
                                    <span>INR
                                        {{product.price}}</span>
                                </p>
                                <p class="mb5">
                                    <span class="edit-cart">Delivery Date</span>
                                    <span>{{product.date}}</span>
                                </p>
                                <p class="mb5">
                                    <span class="edit-cart">Duration</span>
                                    <span>{{product.duration}}
                                        Days</span>
                                </p>
                                <p class="mb5">
                                    <span class="edit-cart">Delivery Time</span>
                                    <span>10 am</span>
                                </p>
                                <p class="mb5">
                                    <span class="edit-cart">Pickup Time</span>
                                    <span>10 am</span>
                                </p>
                            </div>
                            <div class="edit-product-detail product-all-detail" ng-show="editCart">
                                <form action="">
                                    <div class="edit-size">
                                        <span class="edit-cart">Size</span>
                                        <div class="custom-select">
                                            <select name="" id="">
                                                <option value="">S</option>
                                                <option value="">M</option>
                                                <option value="">L</option>
                                                <option value="">XL</option>
                                            </select>
                                        </div>
                                    </div>
                                    <p>
                                        <span class="edit-cart">Rental</span>
                                        <span>INR
                                            {{product.price}}</span>
                                    </p>
                                    <p>
                                        <span class="edit-cart">Delivery Date</span>
                                        <span>{{product.date}}</span>
                                        <span class="dark-pink text-underline text-underline ml20 pointer" ng-click="date();">Change ?</span>
                                    </p>
                                    <div>
                                        <span class="edit-cart">Duration</span>
                                        <div class="dates inline-block">
                                            <div class="radio-button">
                                                <input type="radio" name="date" id="four">
                                                <label for="four" class="text-medium">
                                                    <span></span>
                                                    4 Days</label>
                                            </div>
                                            <div class="radio-button">
                                                <input type="radio" name="date" id="eight">
                                                <label for="eight" class="text-medium">
                                                    <span></span>
                                                    8 Days</label>
                                            </div>
                                        </div>
                                        <div class="order-delivery-time mb20">
                                            <div class="row">
                                                <div class="inline-block time-picker">
                                                    <div class="time inline-block">
                                                        <label for="delivery-time" class="inline-block text-medium">Delivery Time</label>
                                                        <div class="custom-select inline-block">
                                                            <select name="" id="delivery-time">
                                                                <option value="">10 am</option>
                                                                <option value="">11 am</option>
                                                                <option value="">12 am</option>
                                                                <option value="">01 pm</option>
                                                                <option value="">20 pm</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="inline-block time-picker">
                                                    <div class="time inline-block">
                                                        <label for="pickup-time" class="inline-block text-medium">Pickup Time</label>
                                                        <div class="custom-select inline-block">
                                                            <select name="" id="pickup-time">
                                                                <option value="">10 am</option>
                                                                <option value="">11 am</option>
                                                                <option value="">12 am</option>
                                                                <option value="">01 pm</option>
                                                                <option value="">02 pm</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt10 mb10 on-edit">
                                            <button class="btn btn-outline btn-full text-medium" type="reset">Reset</button>
                                            <button class="btn btn-outline btn-full text-medium" ng-click="editCart=false;">Confirm</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="pull-right">
                                <a href="" class="remove-cart text-medium dark-blue" ng-click="remove();">Remove Item
                                    <img src="img/cross.png" width="12" alt="" class="v-top ml5"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt20 on-edit">
                <button class="btn btn-outline btn-full text-medium" ui-sref="product">Continue Shopping</button>
                <button class="btn btn-outline btn-full text-medium" ui-sref="checkoutsignin">Checkout</button>
                <p class="dark-pink m-clear pd10 ">
                    <i>The minimum order value on TheStylease.com is Rs.8000/-</i>
                </p>
            </div>
        </div>
    </div>
</section>
