<section class="mt70">
    <div class="heading-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <h3 class="heading">Course Summary</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="order-detail">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="order-imgholder relate">
                                <img src="img/courses/2.png" alt="" class="get-center img-responsive">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="order-detail-heading">
                                <h4 class="m-clear mb5">Full-stack Digital market</h4>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="order-prd-detail">
                                        <p class="mb5 edit-cart">Traning Type</p>
                                        <p>Self Online learning
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="order-prd-detail text-center">
                                        <p class="mb5 edit-cart">
                                            Days</p>
                                        <p>
                                            <span class="">365 days</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="order-prd-detail text-center">
                                        <p class="mb5 edit-cart">
                                            Number Of Learners</p>
                                        <p>
                                            1
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="order-prd-detail text-center">
                                        <p class="mb5 edit-cart">Price
                                        </p>
                                        <p>Rs. 19,999.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-detail-summary">
                        <div class="row">
                            <div class="col-md-offset-6 col-md-6">
                                <div class="billing-detail">
                                    <h4>Billing detail</h4>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Total</td>
                                                <td>Rs
                                                    <span>19000.00</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="text-right">
                                                    <form class="form-inline" role="form">
                                                        <div class="form-group">
                                                            <input class="form-control" id="focusedInput" type="text" placeholder="Discount Coupon">
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="btn-apply">
                                                                <button class="btn">Apply</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Service Tax (15.00%):
                                                </td>
                                                <td>Rs
                                                    <span>837.50</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Grand Total :</td>
                                                <td>Rs
                                                    <span>22,998.00</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="btn-all text-center pd20">
                                    <button type="button" name="button" class="btn btn-outline btn-primary" ui-sref="checkoutdetail">
                                        Proceed
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
