<section class="mt70 min-height">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="popup">
                    <div class="plr20">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pop-heading-bar bg-dark-blue close-popup">
                                    <h3 class="text-uppercase text-center color-pink m-clear font-finestyle pd10">Forgot Password</h3>
                                </div>
                                <form action="" name="formForgotPassword" class="pbt20">
                                    <div class="relate form-group">
                                        <input type="password" class="form-control" placeholder="New Password" ng-model="password" name="password" required>
                                        <div class="form-error" ng-show="formForgotPassword.password.$touched && formForgotPassword.password.$error.required">
                                            Please enter your proper Password.
                                        </div>
                                    </div>
                                    <div class="relate form-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password" ng-model="passowrd" name="confirmpassword" required>
                                        <div class="form-error" ng-show="formForgotPassword.confirmpassword.$touched && formForgotPassword.confirmpassword.$error.required">
                                            Please enter your proper Confirm Password.
                                        </div>
                                    </div>
                                    <div class="login mb10 mt10" ng-click="closeAllModals();">
                                        <button class="btn btn-outline btn-full text-medium" ui-sref="home">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
