<section class="mt70 min-height">
    <div class="container">
        <div class="pbt20">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="popup">
                        <div class="pop-heading-bar bg-dark-blue close-popup">
                            <h2 class="text-uppercase text-center color-pink m-clear font-finestyle pd10">Sign Up</h2>
                        </div>
                        <div class="pop-body text-center bg-light-pink pd20">
                            <div class="block text-center mb10">
                                <button class="btn btn-google btn-full text-medium social-btn">
                                    <i class="fa fa-google-plus mr10"></i>Sign up with Google+</button>
                            </div>
                            <div class="block text-center">
                                <button class="btn btn-facebook btn-full text-medium social-btn">
                                    <i class="fa fa-facebook mr10"></i>Sign up with Facebook</button>
                            </div>
                            <div class="or relate mb20 mt20">
                                <span>OR</span>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="" name="formLogin">
                                        <div class="relate form-group">
                                            <input type="email" class="form-control" placeholder="Email Id" ng-model="email" name="email" required>
                                            <div class="form-error" ng-show="formLogin.email.$touched && formLogin.email.$error.required">
                                                Please enter your Email Id.
                                            </div>
                                        </div>
                                        <div class="relate form-group">
                                            <input type="password" class="form-control" placeholder="Password" ng-model="pswd" name="pswd" required>
                                            <div class="form-error" ng-show="formLogin.pswd.$touched && formLogin.pswd.$error.required">
                                                Please enter your password.
                                            </div>
                                        </div>
                                        <div class="relate form-group">
                                            <input type="password" class="form-control" placeholder="Confirm Password" ng-model="confirmpswd" name="pswd" required>
                                            <div class="form-error" ng-show="formLogin.confirmpswd.$touched && formLogin.confirmpswd.$error.required">
                                                Please enter your password.
                                            </div>
                                        </div>
                                        <div class="login mb10 mt10" ng-click="closeAllModals();">
                                            <button class="btn btn-outline btn-full text-medium" ui-sref="home">Sign up</button>
                                        </div>
                                        <div class="">
                                            <span class="text-underline pointer" ui-sref="login">Already Have a Account ?</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
