<footer>
    <div class="container footer-container" ng-style="footerDisplayStatus" style="display: block;">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-12 foot-socials">
                <h5 class="bg-default-text-bold">Follow us!</h5>
                <div class="rae-link">
                    <a href="#" target="_blank" class="refer-earn android btn-small btn">Refer and Earn</a>
                </div>
                <ul class="social_share list-unstyled">
                    <li>
                        <a class="facebook" target="_blank" href="#">
                      <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a class="twitter" target="_blank" href="#">
                      <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a class="youtube" target="_blank" href="#">
                          <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                    <div class="clearfix"></div>
                    <li>
                        <a class="linkedin" target="_blank" href="#">
                          <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a class="google" target="_blank" href="https://plus.google.com/+simplilearn/">
                            <i class="fa fa-google"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 foot_company">
                <h5 class="bg-default-text-bold">Company</h5>
                <ul class="content-col list-unstyled">
                    <li>
                        <a href="/about-us">
                            About us</a>
                    </li>
                    <li>
                        <a href="/our-team">
                            Our team</a>
                    </li>
                    <li>
                        <a href="/careers">
                            Careers</a>
                    </li>
                    <li>
                        <a href="/media">
                            In the media</a>
                    </li>
                    <li>
                        <a href="/reviews">
                            Alumni speak</a>
                    </li>
                    <li>
                        <a href="/contact-us">Contact us</a>
                    </li>
                    <li>
                        <a href="/help-and-support#/grievance-redressal">
                            Help &amp; support</a>
                    </li>
                    <!--li><a href="/subscription" target="_blank"> Subscription</a></li-->
                </ul>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 footer_workus">
                <h5 class="bg-default-text-bold">Work with us</h5>
                <ul class="content-col list-unstyled">
                    <li>
                        <a href="/become-our-trainer">
                            Become an instructor</a>
                    </li>
                    <li>
                        <a href="/guest-blogging">Blog as guest</a>
                    </li>
                    <li>
                        <a href="/affiliate-program">Become an affiliate</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-7 col-xs-12 footer_discover">
                <ul class="content-col col-md-12 col-sm-7 col-xs-6 discover list-unstyled">
                    <h5 class="bg-default-text-bold">Discover</h5>
                    <li>
                        <a href="/career-edge">Career Edge</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Simplilearn community</a>
                    </li>
                    <li>
                        <a href="/career-data-labs">Career data labs</a>
                    </li>
                    <li>
                        <a href="#">RSS feed</a>
                    </li>
                </ul>

                <ul class="content-col col-md-12 col-sm-5 col-xs-6 business list-unstyled">
                    <h5 class="bg-default-text-bold">For Businesses</h5>
                    <li>
                        <a href="/corporate-training" ng-click="gaFooterControllerJs.gaForCorporateTraining()" target="_blank">Corporate training</a>
                    </li>
                    <!--<li><a href="/authorized-training-partner">Authorised training partner</a></li>-->
                </ul>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-12 refer_earn footer-disc">
                <h5 class="bg-default-text-bold">Learn On the Go!</h5>
                <a href="#" target="_blank" class="refer-earn android bg-small-meta-text btn btn-small"><i class="fa fa-android" aria-hidden="true"></i> Get the Android App</a>
                <a href="#" target="_blank" class="refer-earn ios-app bg-small-meta-text btn btn-small"><i class="fa fa-apple" aria-hidden="true"></i> Get the iOS App</a>
            </div>
        </div>
    </div>
</footer>

<!-- <div class="footer_sticky_inside sticky_visible">
    <div class="container">
        <div class="footer_sticky_bar">
            <a class="how_it_works" target="_blank">Help and Support</a>
            <ul class="live_chat_div">
                <li class="callback_link" ng-init="setCallbackStatus(0)">
                    <a class="sticky_request_call">
                        <span class="aap_icon call_back_footer"></span>Request a callback
                    </a>
                </li>
                <li class="call_no_stiky">
                    <span class="aap_icon call_us_on"></span>Call us on
                    <a href="tel:99999999999" target="_blank">99999999999</a>
                </li>
                <li class="live_chat_icon btn_active_green">
                    <a href="" class="support ive_chat_right" style="cursor: pointer;">
                        <span class="aap_icon chat_icon_footer gamooga_chat_span"></span>
                        <div class="live_text_chat">Live Chat</div>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div> -->
